/* START SIDEBAR CSS */
.nav-menu {
  background-color: #0a192f;
  float: left;
  width: 250px;
  height: 100%;
  justify-content: center;
  left: 0;

  margin-bottom: -1500px;
  padding-bottom: 1500px;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 8px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #77809a;
}

.nav-menu-items {
  width: 100%;
  padding-top: 25px;
}

.sidebar-item-title {
  margin-left: 16px;
}